<div id="links">
	<a href="/">Home page</a> <%= category_link(params) %>  <a class="right" href="/about">About</a> 
</div>
<div id="content">
<div id="note">
	<h1>
		<%= content[:title].humanize %> 		
	</h1>
	<p>
		<%= markdown2(content[:content]) %>
	</p>
	<% if content[:links].length > 0  %>
		<h2>See also:</h2>
		<ul>
		<% content[:links].each do | link| %>
			<li><a href=" <%= link  %> "><%= link  %></a>
		<% end %>
		</ul>
	<% end %>

</div>
<div id="content">
