<div id="links">
	<a href="/">Home page</a> <%= category_link(params) %>  <a class="right" href="/about">About</a> 
</div>
<div id="content">
<div id="note">
	<h1>
		<%= content[:title] %> 		
	</h1>
	<p>
		<%= markdown2(content[:content]) %>
	</p>
	<h2>See also:</h2>
	<ul>
		<% content[:links].each do | link| %>
			<li><a href=" <%= link  %> "><%= link  %></a>
		<% end %>
	</ul>

</div>
<div id="content">
